
.accordion {
  margin: 20px auto ;
  width: 60%;
  font-size: 20px;

  .accordion-item {
    border: 3px solid #060e1724;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15); 

    .accordion-header {
      background-color: #bab6b1c1;
      color: rgb(196, 176, 176);
      display: flex;
      align-items: center;
      justify-content: space-between;

      .accordion-button {
        color: rgb(15, 12, 12);
        background-color: transparent;
        border: none;
        font-size: 20px;
        text-align: left;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
       

        .icon {
          margin-left: auto;
          transition: transform 0.3s ease;
        }

        &.collapsed .icon {
          transform: rotate(0deg);
        }

        &:not(.collapsed) .icon {
          transform: rotate(180deg);
        }

        &:focus {
          outline: none;
        }
      }
    }

    .accordion-body {
      background-color: #efefef39;
      color: #212529;
      padding: 15px;
    }
  }
}